/* Remove the "Try the new Print Designer" message in the Print*/
/* #page-print .custom-actions .inner-page-message {
    display: none !important;
} */

/* Remove the Full Page and PDF buttons in the Print */
/* #page-print .custom-actions button:nth-of-type(1), */
#page-print .custom-actions button:nth-of-type(2) {
    display: none !important;
}

/* Remove Full Page and PDF from the dropdown (in small screens) in the Print*/
/* #page-print .dropdown-menu .user-action:has([data-label="Full%20Page"]), */
#page-print .dropdown-menu .user-action:has([data-label="PDF"]) {
    display: none !important;
}

.action-banner a[href*="frappe.utils.print_format.download_pdf"] {
    display: none !important;
}