<div class="worksheet" data-fit-width="true" data-fit-height="true" x-data="{eligibilities: $store.eligibilities, work_experiences: $store.work_experiences}">
    <div id="WS-C2" class="content">
        <table id="T-C2">
			<thead>
				<tr>
					<th class="H-1"></th>
					<th class="H-2"></th>
					<th class="H-3"></th>
					<th class="H-4"></th>
					<th class="H-5"></th>
					<th class="H-6"></th>
					<th class="H-7"></th>
					<th class="H-8"></th>
					<th class="H-9"></th>
					<th class="H-10"></th>
					<th class="H-11"></th>
					<th class="H-12"></th>
					<th class="H-13"></th>
				</tr>
			</thead>
			<tbody>
				<tr class="R-1">
					<td class="C-1" colspan="13"></td>
				</tr>
				<tr class="R-2">
					<td class="C-1" colspan="13">IV.  CIVIL SERVICE ELIGIBILITY</td>
				</tr>
				<tr class="R-3">
					<td class="C-1">27.</td>
					<td class="C-2" colspan="4" rowspan="2"> CAREER SERVICE/ RA 1080 (BOARD/ BAR) UNDER SPECIAL LAWS/ CES/ CSEE BARANGAY ELIGIBILITY / DRIVER'S LICENSE</td>
					<td class="C-6" rowspan="2">RATING<br/>(If Applicable)</td>
					<td class="C-7" colspan="2" rowspan="2">DATE OF EXAMINATION / CONFERMENT</td>
					<td class="C-9" colspan="3" rowspan="2">PLACE OF EXAMINATION / CONFERMENT</td>
					<td class="C-12" colspan="2">LICENSE (if applicable)</td>
				</tr>
				<tr class="R-4">
					<td class="C-1"></td>
					<td class="C-12">NUMBER</td>
					<td class="C-13">Date of<br/>Validity</td>
				</tr>
				<tr class="R-5">
					<td class="C-1" colspan="5"></td>
					<td class="C-6"></td>
					<td class="C-7" colspan="2"></td>
					<td class="C-9" colspan="3"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-6">
					<td class="C-1" colspan="5"></td>
					<td class="C-6"></td>
					<td class="C-7" colspan="2"></td>
					<td class="C-9" colspan="3"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-7">
					<td class="C-1" colspan="5"></td>
					<td class="C-6"></td>
					<td class="C-7" colspan="2"></td>
					<td class="C-9" colspan="3"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-8">
					<td class="C-1" colspan="5"></td>
					<td class="C-6"></td>
					<td class="C-7" colspan="2"></td>
					<td class="C-9" colspan="3"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-9">
					<td class="C-1" colspan="5"></td>
					<td class="C-6"></td>
					<td class="C-7" colspan="2"></td>
					<td class="C-9" colspan="3"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-10">
					<td class="C-1" colspan="5"></td>
					<td class="C-6"></td>
					<td class="C-7" colspan="2"></td>
					<td class="C-9" colspan="3"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-11">
					<td class="C-1" colspan="5"></td>
					<td class="C-6"></td>
					<td class="C-7" colspan="2"></td>
					<td class="C-9" colspan="3"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-12">
					<td class="C-1" colspan="13">(Continue on separate sheet if necessary)</td>
				</tr>
				<tr class="R-13">
					<td class="C-1" colspan="13">V.  WORK EXPERIENCE</td>
				</tr>
				<tr class="R-14">
					<td class="C-1" colspan="13">(Include private employment.  Start from your recent work) Description of duties should be indicated in the attached Work Experience sheet.</td>
				</tr>
				<tr class="R-15">
					<td class="C-1">28.</td>
					<td class="C-2" colspan="2" rowspan="2">INCLUSIVE DATES<br/>(dd/mm/yyyy)</td>
					<td class="C-4" colspan="3" rowspan="3">POSITION TITLE<br/>(Write in full/Do not abbreviate)</td>
					<td class="C-7" colspan="3" rowspan="3">DEPARTMENT / AGENCY / OFFICE / COMPANY<br/>(Write in full/Do not abbreviate)</td>
					<td class="C-10" rowspan="3">MONTHLY SALARY</td>
					<td class="C-11" rowspan="3">SALARY/ JOB/ PAY GRADE (if applicable)& STEP  (Format "00-0")/ INCREMENT</td>
					<td class="C-12" rowspan="3">STATUS OF APPOINTMENT</td>
					<td class="C-13" rowspan="3">GOV'T SERVICE<br/>(Y/ N)</td>
				</tr>
				<tr class="R-16">
					<td class="C-1"></td>
				</tr>
				<tr class="R-17">
					<td class="C-1" colspan="2">From</td>
					<td class="C-3">To</td>
				</tr>
				<tr class="R-18">
					<td class="C-1" colspan="2"></td>
					<td class="C-3"></td>
					<td class="C-4" colspan="3"></td>
					<td class="C-7" colspan="3"></td>
					<td class="C-10"></td>
					<td class="C-11"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-19">
					<td class="C-1" colspan="2"></td>
					<td class="C-3"></td>
					<td class="C-4" colspan="3"></td>
					<td class="C-7" colspan="3"></td>
					<td class="C-10"></td>
					<td class="C-11"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-20">
					<td class="C-1" colspan="2"></td>
					<td class="C-3"></td>
					<td class="C-4" colspan="3"></td>
					<td class="C-7" colspan="3"></td>
					<td class="C-10"></td>
					<td class="C-11"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-21">
					<td class="C-1" colspan="2"></td>
					<td class="C-3"></td>
					<td class="C-4" colspan="3"></td>
					<td class="C-7" colspan="3"></td>
					<td class="C-10"></td>
					<td class="C-11"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-22">
					<td class="C-1" colspan="2"></td>
					<td class="C-3"></td>
					<td class="C-4" colspan="3"></td>
					<td class="C-7" colspan="3"></td>
					<td class="C-10"></td>
					<td class="C-11"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-23">
					<td class="C-1" colspan="2"></td>
					<td class="C-3"></td>
					<td class="C-4" colspan="3"></td>
					<td class="C-7" colspan="3"></td>
					<td class="C-10"></td>
					<td class="C-11"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-24">
					<td class="C-1" colspan="2"></td>
					<td class="C-3"></td>
					<td class="C-4" colspan="3"></td>
					<td class="C-7" colspan="3"></td>
					<td class="C-10"></td>
					<td class="C-11"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-25">
					<td class="C-1" colspan="2"></td>
					<td class="C-3"></td>
					<td class="C-4" colspan="3"></td>
					<td class="C-7" colspan="3"></td>
					<td class="C-10"></td>
					<td class="C-11"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-26">
					<td class="C-1" colspan="2"></td>
					<td class="C-3"></td>
					<td class="C-4" colspan="3"></td>
					<td class="C-7" colspan="3"></td>
					<td class="C-10"></td>
					<td class="C-11"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-27">
					<td class="C-1" colspan="2"></td>
					<td class="C-3"></td>
					<td class="C-4" colspan="3"></td>
					<td class="C-7" colspan="3"></td>
					<td class="C-10"></td>
					<td class="C-11"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-28">
					<td class="C-1" colspan="2"></td>
					<td class="C-3"></td>
					<td class="C-4" colspan="3"></td>
					<td class="C-7" colspan="3"></td>
					<td class="C-10"></td>
					<td class="C-11"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-29">
					<td class="C-1" colspan="2"></td>
					<td class="C-3"></td>
					<td class="C-4" colspan="3"></td>
					<td class="C-7" colspan="3"></td>
					<td class="C-10"></td>
					<td class="C-11"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-30">
					<td class="C-1" colspan="2"></td>
					<td class="C-3"></td>
					<td class="C-4" colspan="3"></td>
					<td class="C-7" colspan="3"></td>
					<td class="C-10"></td>
					<td class="C-11"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-31">
					<td class="C-1" colspan="2"></td>
					<td class="C-3"></td>
					<td class="C-4" colspan="3"></td>
					<td class="C-7" colspan="3"></td>
					<td class="C-10"></td>
					<td class="C-11"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-32">
					<td class="C-1" colspan="2"></td>
					<td class="C-3"></td>
					<td class="C-4" colspan="3"></td>
					<td class="C-7" colspan="3"></td>
					<td class="C-10"></td>
					<td class="C-11"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-33">
					<td class="C-1" colspan="2"></td>
					<td class="C-3"></td>
					<td class="C-4" colspan="3"></td>
					<td class="C-7" colspan="3"></td>
					<td class="C-10"></td>
					<td class="C-11"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-34">
					<td class="C-1" colspan="2"></td>
					<td class="C-3"></td>
					<td class="C-4" colspan="3"></td>
					<td class="C-7" colspan="3"></td>
					<td class="C-10"></td>
					<td class="C-11"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-35">
					<td class="C-1" colspan="2"></td>
					<td class="C-3"></td>
					<td class="C-4" colspan="3"></td>
					<td class="C-7" colspan="3"></td>
					<td class="C-10"></td>
					<td class="C-11"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-36">
					<td class="C-1" colspan="2"></td>
					<td class="C-3"></td>
					<td class="C-4" colspan="3"></td>
					<td class="C-7" colspan="3"></td>
					<td class="C-10"></td>
					<td class="C-11"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-37">
					<td class="C-1" colspan="2"></td>
					<td class="C-3"></td>
					<td class="C-4" colspan="3"></td>
					<td class="C-7" colspan="3"></td>
					<td class="C-10"></td>
					<td class="C-11"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-38">
					<td class="C-1" colspan="2"></td>
					<td class="C-3"></td>
					<td class="C-4" colspan="3"></td>
					<td class="C-7" colspan="3"></td>
					<td class="C-10"></td>
					<td class="C-11"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-39">
					<td class="C-1" colspan="2"></td>
					<td class="C-3"></td>
					<td class="C-4" colspan="3"></td>
					<td class="C-7" colspan="3"></td>
					<td class="C-10"></td>
					<td class="C-11"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-40">
					<td class="C-1" colspan="2"></td>
					<td class="C-3"></td>
					<td class="C-4" colspan="3"></td>
					<td class="C-7" colspan="3"></td>
					<td class="C-10"></td>
					<td class="C-11"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-41">
					<td class="C-1" colspan="2"></td>
					<td class="C-3"></td>
					<td class="C-4" colspan="3"></td>
					<td class="C-7" colspan="3"></td>
					<td class="C-10"></td>
					<td class="C-11"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-42">
					<td class="C-1" colspan="2"></td>
					<td class="C-3"></td>
					<td class="C-4" colspan="3"></td>
					<td class="C-7" colspan="3"></td>
					<td class="C-10"></td>
					<td class="C-11"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-43">
					<td class="C-1" colspan="2"></td>
					<td class="C-3"></td>
					<td class="C-4" colspan="3"></td>
					<td class="C-7" colspan="3"></td>
					<td class="C-10"></td>
					<td class="C-11"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-44">
					<td class="C-1" colspan="2"></td>
					<td class="C-3"></td>
					<td class="C-4" colspan="3"></td>
					<td class="C-7" colspan="3"></td>
					<td class="C-10"></td>
					<td class="C-11"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-45">
					<td class="C-1" colspan="2"></td>
					<td class="C-3"></td>
					<td class="C-4" colspan="3"></td>
					<td class="C-7" colspan="3"></td>
					<td class="C-10"></td>
					<td class="C-11"></td>
					<td class="C-12"></td>
					<td class="C-13"></td>
				</tr>
				<tr class="R-46">
					<td class="C-1" colspan="13">(Continue on separate sheet if necessary)</td>
				</tr>
				<tr class="R-47">
					<td class="C-1" colspan="3">SIGNATURE</td>
					<td class="C-4" colspan="5"></td>
					<td class="C-9">DATE</td>
					<td class="C-10" colspan="4"></td>
				</tr>
				<tr class="R-48">
					<td class="C-1" colspan="13">CS FORM 212 (Revised 2025), Page 2 of 4</td>
				</tr>
			</tbody>
		</table>
    </div>
</div>