<div class="worksheet" data-fit-width="true" data-fit-height="true" x-data="{voluntary_works: $store.voluntary_works, trainings: $store.trainings, skills: $store.skills, recognitions: $store.recognitions, organizations: $store.organizations}">
    <div id="WS-C3" class="content">
        <table id="T-C3">
			<thead>
				<tr>
					<th class="H-1"></th>
					<th class="H-2"></th>
					<th class="H-3"></th>
					<th class="H-4"></th>
					<th class="H-5"></th>
					<th class="H-6"></th>
					<th class="H-7"></th>
					<th class="H-8"></th>
					<th class="H-9"></th>
					<th class="H-10"></th>
					<th class="H-11"></th>
				</tr>
			</thead>
			<tbody>
				<tr class="R-1">
					<td class="C-1" colspan="11"></td>
				</tr>
				<tr class="R-2">
					<td class="C-1" colspan="11">VI. VOLUNTARY WORK OR INVOLVEMENT IN CIVIC / NON-GOVERNMENT / PEOPLE / VOLUNTARY ORGANIZATION/S</td>
				</tr>
				<tr class="R-3">
					<td class="C-1" rowspan="2">29.</td>
					<td class="C-2" colspan="3" rowspan="3">NAME & ADDRESS OF ORGANIZATION<br/>(Write in full)</td>
					<td class="C-5" colspan="2" rowspan="2">INCLUSIVE DATES<br/>(dd/mm/yyyy)</td>
					<td class="C-7" rowspan="3">NUMBER OF HOURS</td>
					<td class="C-8" colspan="4" rowspan="3">POSITION / NATURE OF WORK</td>
				</tr>
				<tr class="R-4">
				</tr>
				<tr class="R-5">
					<td class="C-1"></td>
					<td class="C-5">From</td>
					<td class="C-6">To</td>
				</tr>
				<tr class="R-6">
					<td class="C-1" colspan="4"></td>
					<td class="C-5"></td>
					<td class="C-6"></td>
					<td class="C-7"></td>
					<td class="C-8" colspan="4"></td>
				</tr>
				<tr class="R-7">
					<td class="C-1" colspan="4"></td>
					<td class="C-5"></td>
					<td class="C-6"></td>
					<td class="C-7"></td>
					<td class="C-8" colspan="4"></td>
				</tr>
				<tr class="R-8">
					<td class="C-1" colspan="4"></td>
					<td class="C-5"></td>
					<td class="C-6"></td>
					<td class="C-7"></td>
					<td class="C-8" colspan="4"></td>
				</tr>
				<tr class="R-9">
					<td class="C-1" colspan="4"></td>
					<td class="C-5"></td>
					<td class="C-6"></td>
					<td class="C-7"></td>
					<td class="C-8" colspan="4"></td>
				</tr>
				<tr class="R-10">
					<td class="C-1" colspan="4"></td>
					<td class="C-5"></td>
					<td class="C-6"></td>
					<td class="C-7"></td>
					<td class="C-8" colspan="4"></td>
				</tr>
				<tr class="R-11">
					<td class="C-1" colspan="4"></td>
					<td class="C-5"></td>
					<td class="C-6"></td>
					<td class="C-7"></td>
					<td class="C-8" colspan="4"></td>
				</tr>
				<tr class="R-12">
					<td class="C-1" colspan="4"></td>
					<td class="C-5"></td>
					<td class="C-6"></td>
					<td class="C-7"></td>
					<td class="C-8" colspan="4"></td>
				</tr>
				<tr class="R-13">
					<td class="C-1" colspan="11">(Continue on separate sheet if necessary)</td>
				</tr>
				<tr class="R-14">
					<td class="C-1" colspan="11">VII.  LEARNING AND DEVELOPMENT (L&D) INTERVENTIONS/TRAINING PROGRAMS ATTENDED</td>
				</tr>
				<tr class="R-15">
					<td class="C-1" rowspan="2">30.</td>
					<td class="C-2" colspan="3" rowspan="3">TITLE OF LEARNING AND DEVELOPMENT INTERVENTIONS/TRAINING PROGRAMS<br/>(Write in full)</td>
					<td class="C-5" colspan="2" rowspan="2">INCLUSIVE DATES OF ATTENDANCE<br/>(dd/mm/yyyy)</td>
					<td class="C-7" rowspan="3">NUMBER OF HOURS</td>
					<td class="C-8" rowspan="3">Type of LD<br/>(Managerial/ Supervisory/<br/>Technical/etc)</td>
					<td class="C-9" colspan="3" rowspan="3">CONDUCTED/ SPONSORED BY<br/>(Write in full)</td>
				</tr>
				<tr class="R-16">
				</tr>
				<tr class="R-17">
					<td class="C-1"></td>
					<td class="C-5">From</td>
					<td class="C-6">To</td>
				</tr>
				<tr class="R-18">
					<td class="C-1" colspan="4"></td>
					<td class="C-5"></td>
					<td class="C-6"></td>
					<td class="C-7"></td>
					<td class="C-8"></td>
					<td class="C-9" colspan="3"></td>
				</tr>
				<tr class="R-19">
					<td class="C-1" colspan="4"></td>
					<td class="C-5"></td>
					<td class="C-6"></td>
					<td class="C-7"></td>
					<td class="C-8"></td>
					<td class="C-9" colspan="3"></td>
				</tr>
				<tr class="R-20">
					<td class="C-1" colspan="4"></td>
					<td class="C-5"></td>
					<td class="C-6"></td>
					<td class="C-7"></td>
					<td class="C-8"></td>
					<td class="C-9" colspan="3"></td>
				</tr>
				<tr class="R-21">
					<td class="C-1" colspan="4"></td>
					<td class="C-5"></td>
					<td class="C-6"></td>
					<td class="C-7"></td>
					<td class="C-8"></td>
					<td class="C-9" colspan="3"></td>
				</tr>
				<tr class="R-22">
					<td class="C-1" colspan="4"></td>
					<td class="C-5"></td>
					<td class="C-6"></td>
					<td class="C-7"></td>
					<td class="C-8"></td>
					<td class="C-9" colspan="3"></td>
				</tr>
				<tr class="R-23">
					<td class="C-1" colspan="4"></td>
					<td class="C-5"></td>
					<td class="C-6"></td>
					<td class="C-7"></td>
					<td class="C-8"></td>
					<td class="C-9" colspan="3"></td>
				</tr>
				<tr class="R-24">
					<td class="C-1" colspan="4"></td>
					<td class="C-5"></td>
					<td class="C-6"></td>
					<td class="C-7"></td>
					<td class="C-8"></td>
					<td class="C-9" colspan="3"></td>
				</tr>
				<tr class="R-25">
					<td class="C-1" colspan="4"></td>
					<td class="C-5"></td>
					<td class="C-6"></td>
					<td class="C-7"></td>
					<td class="C-8"></td>
					<td class="C-9" colspan="3"></td>
				</tr>
				<tr class="R-26">
					<td class="C-1" colspan="4"></td>
					<td class="C-5"></td>
					<td class="C-6"></td>
					<td class="C-7"></td>
					<td class="C-8"></td>
					<td class="C-9" colspan="3"></td>
				</tr>
				<tr class="R-27">
					<td class="C-1" colspan="4"></td>
					<td class="C-5"></td>
					<td class="C-6"></td>
					<td class="C-7"></td>
					<td class="C-8"></td>
					<td class="C-9" colspan="3"></td>
				</tr>
				<tr class="R-28">
					<td class="C-1" colspan="4"></td>
					<td class="C-5"></td>
					<td class="C-6"></td>
					<td class="C-7"></td>
					<td class="C-8"></td>
					<td class="C-9" colspan="3"></td>
				</tr>
				<tr class="R-29">
					<td class="C-1" colspan="4"></td>
					<td class="C-5"></td>
					<td class="C-6"></td>
					<td class="C-7"></td>
					<td class="C-8"></td>
					<td class="C-9" colspan="3"></td>
				</tr>
				<tr class="R-30">
					<td class="C-1" colspan="4"></td>
					<td class="C-5"></td>
					<td class="C-6"></td>
					<td class="C-7"></td>
					<td class="C-8"></td>
					<td class="C-9" colspan="3"></td>
				</tr>
				<tr class="R-31">
					<td class="C-1" colspan="4"></td>
					<td class="C-5"></td>
					<td class="C-6"></td>
					<td class="C-7"></td>
					<td class="C-8"></td>
					<td class="C-9" colspan="3"></td>
				</tr>
				<tr class="R-32">
					<td class="C-1" colspan="4"></td>
					<td class="C-5"></td>
					<td class="C-6"></td>
					<td class="C-7"></td>
					<td class="C-8"></td>
					<td class="C-9" colspan="3"></td>
				</tr>
				<tr class="R-33">
					<td class="C-1" colspan="4"></td>
					<td class="C-5"></td>
					<td class="C-6"></td>
					<td class="C-7"></td>
					<td class="C-8"></td>
					<td class="C-9" colspan="3"></td>
				</tr>
				<tr class="R-34">
					<td class="C-1" colspan="4"></td>
					<td class="C-5"></td>
					<td class="C-6"></td>
					<td class="C-7"></td>
					<td class="C-8"></td>
					<td class="C-9" colspan="3"></td>
				</tr>
				<tr class="R-35">
					<td class="C-1" colspan="4"></td>
					<td class="C-5"></td>
					<td class="C-6"></td>
					<td class="C-7"></td>
					<td class="C-8"></td>
					<td class="C-9" colspan="3"></td>
				</tr>
				<tr class="R-36">
					<td class="C-1" colspan="4"></td>
					<td class="C-5"></td>
					<td class="C-6"></td>
					<td class="C-7"></td>
					<td class="C-8"></td>
					<td class="C-9" colspan="3"></td>
				</tr>
				<tr class="R-37">
					<td class="C-1" colspan="4"></td>
					<td class="C-5"></td>
					<td class="C-6"></td>
					<td class="C-7"></td>
					<td class="C-8"></td>
					<td class="C-9" colspan="3"></td>
				</tr>
				<tr class="R-38">
					<td class="C-1" colspan="4"></td>
					<td class="C-5"></td>
					<td class="C-6"></td>
					<td class="C-7"></td>
					<td class="C-8"></td>
					<td class="C-9" colspan="3"></td>
				</tr>
				<tr class="R-39">
					<td class="C-1" colspan="11">(Continue on separate sheet if necessary)</td>
				</tr>
				<tr class="R-40">
					<td class="C-1" colspan="11">VIII.  OTHER INFORMATION</td>
				</tr>
				<tr class="R-41">
					<td class="C-1">31.</td>
					<td class="C-2">SPECIAL SKILLS and HOBBIES</td>
					<td class="C-3">32.</td>
					<td class="C-4" colspan="5">NON-ACADEMIC DISTINCTIONS / RECOGNITION<br/>(Write in full)</td>
					<td class="C-9">33.</td>
					<td class="C-10" colspan="2">MEMBERSHIP IN ASSOCIATION/ORGANIZATION<br/>(Write in full)</td>
				</tr>
				<tr class="R-42">
					<td class="C-1" colspan="2"></td>
					<td class="C-3" colspan="6"></td>
					<td class="C-9" colspan="3"></td>
				</tr>
				<tr class="R-43">
					<td class="C-1" colspan="2"></td>
					<td class="C-3" colspan="6"></td>
					<td class="C-9" colspan="3"></td>
				</tr>
				<tr class="R-44">
					<td class="C-1" colspan="2"></td>
					<td class="C-3" colspan="6"></td>
					<td class="C-9" colspan="3"></td>
				</tr>
				<tr class="R-45">
					<td class="C-1" colspan="2"></td>
					<td class="C-3" colspan="6"></td>
					<td class="C-9" colspan="3"></td>
				</tr>
				<tr class="R-46">
					<td class="C-1" colspan="2"></td>
					<td class="C-3" colspan="6"></td>
					<td class="C-9" colspan="3"></td>
				</tr>
				<tr class="R-47">
					<td class="C-1" colspan="2"></td>
					<td class="C-3" colspan="6"></td>
					<td class="C-9" colspan="3"></td>
				</tr>
				<tr class="R-48">
					<td class="C-1" colspan="2"></td>
					<td class="C-3" colspan="6"></td>
					<td class="C-9" colspan="3"></td>
				</tr>
				<tr class="R-49">
					<td class="C-1" colspan="11">(Continue on separate sheet if necessary)</td>
				</tr>
				<tr class="R-50">
					<td class="C-1" colspan="2">SIGNATURE</td>
					<td class="C-3" colspan="4"></td>
					<td class="C-7" colspan="2">DATE</td>
					<td class="C-9" colspan="3"></td>
				</tr>
				<tr class="R-51">
					<td class="C-1" colspan="11">CS FORM 212 (Revised 2025), Page 3 of 4</td>
				</tr>
			</tbody>
		</table>
    </div>
</div>